body,h1,h2,p{
    margin: 0px;
    height: 100%;
}

.main-div{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 180px;
    box-shadow: #777;
}
#logo{
    color: #0755dc;
    font-size: 55px;
    padding: 10px 0px;
    font-family: sans-serif;
}
.signup-form{
    background-color: #fff;
    width: 430px;
    border-radius: 5px;
}
.form-heading{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}
h2{
    padding-bottom: 7px;
}
.input-fields{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
input,select{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
}
.half-wd{
    display: flex;
    width: 48%;
}
.full-wd{
    display: flex;
    width: 100%;
}
label{
    font-size: 12px;
    color: rgb(103, 100, 95);
    padding-bottom: 7px;
}
.dob{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.qd-wd{
    width: 32%;
    display: flex;
}
.radio-btn{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.radio-label{
    padding-bottom: 0px;
    font-size: 15px;
}
.radio-input{
    margin: 0px;
    width: auto;
}
small{
    font-size: 11px;
    color: #777;
    padding: 5px 0px 5px 0px;
}
a{
    text-decoration: none;
}
.btn{
    padding: 10px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn-s{
    background-color: #00a400;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 8px 50px;
    font-size: 15px;
    font-weight: 500;
}
.acct{
    display: flex;
    width: 100%;
    justify-content: center;
}